@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.card {
        position: relative; /* Add this line */
        overflow: hidden; /* Add this line */
        transition: transform 0.5s ease-out;
}

.card-gleam {
        position: absolute;
        top: 0;
        left: 0;
        width: 350%;
        height: 100%;
        /* background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(232, 232, 232, 0.5) 50%, rgba(255, 255, 255, 0) 100%); */
        transform: rotate(30deg);
}

/* Add this media query */
@media only screen and (max-width: 600px) {

    .card {
      width: 100%;
      height: auto;
    }

    .btn {
        width: 22vw;
        height: 8vh;
        font-size: .9rem;
        /* font line height */
        line-height: 1.3;
    }
    
    /* Add responsive styles for the card content if needed */
  }